<a href="https://colab.research.google.com/github/Rinnubabu/Rinnubabu/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("I Love Rinnu")
print('Hello' , end = ' ')
print('coder')
print('hello' , 'coders')
print("Rinnu" , end = "Chiku")

I Love Rinnu
Hello coder
hello coders
RinnuChiku<class 'int'>

In [12]:
a=10 
b='Hello'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [16]:
x , y , z = 10 , 20 , 30
print(y)

20

In [19]:
a = b = c = 30
print(a , b , c)
print(id(a)) #id means Address or index
''' python with same values we have got the same address coz' it's totally saves the storage'''
print(id(b))
print(id(c)) 
#all will stores at the same place.

b=70
print(a , b , c)

30 30 30
94739081694624
94739081694624
94739081694624
30 70 30

In [26]:
print('I love python and happy to learn new things about this')

a = input("Enter a value: ")
b = input("Enter a value: ")
c = a+b
print(a + b)
print(c)
print(type(a))
print(type(b))

I love python and happy to learn new things about this
Enter a value: 10
Enter a value: 20
1020
1020
<class 'str'>
<class 'int'>

In [27]:
a = int(input("Enter a value: "))
b = int(input("Enter a value: "))
c = a+b
print(c)

Enter a value: 10
Enter a value: 20
30

In [29]:
a = input("enter the values: ")
print(a)
print(type(a)) # it cannot be converted through int keyword

enter the values: 10 20 30
10 20 30
<class 'str'>

In [30]:
a = input("enter the value: ")
print(type(a))

val = a.split()
print(val)

enter the value: 10 20 30
<class 'str'>
['10', '20', '30']

In [34]:
val = [int(i) for i in a.split()]
print(val)

li = ['hello', 10, 12.2]
print(li)
print(type(li))

[10, 20, 30]
['hello', 10, 12.2]
<class 'list'>

In [37]:
a = [10, 2, 3 , 11, 23]
a.sort()
print(a)
li.reverse()
print(li)

[2, 3, 10, 11, 23]
[12.2, 10, 'hello']

In [38]:
#slicing
a = 10, 20, 30, 40
print(a[0:3]) #[start: end]

(10, 20, 30)

In [39]:
z = [int(i) for i in input("Enter the value of list: ").split()]
z.sort()
z.reverse()
print(z)

Enter the value of list: 10 20 30 40
[40, 30, 20, 10]